<div class="topnav header" id="myTopnav">
  <a href="#home" class="actives">
    <img src="../../assets/logo.png">
    </a>
  <a href="#news" routerLink="inscription" (click)="secnd()">inscription</a>
  <a href="#contact"  routerLink="contact" routerLinkActive="active" (click)="secnd()">
    Contact</a>
  <a routerLink="membres" routerLinkActive="active" (click)="secnd()">Membres</a>

  <a href="#about" routerLink="employees" routerLinkActive="active" (click)="secnd()">
    personnel</a>
 <a href="#about" routerLink="activite" (click)="secnd()" routerLinkActive="active">
    Activites</a>
  <a href="#about" routerLink="partenaire"  role="button" (click)="secnd()" routerLinkActive="active">
    Partenaires</a>
  <a href="javascript:void(0);" class="icon" role="button" (click)="myfunction()">
    <i class="fa fa-bars"></i>

  </a>





</div>

