<!--Section: Contact v.2-->
<section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Avez-vous des questions? N'hésitez pas à nous contacter directement. Notre équipe reviendra vers vous dans les heures qui suivent pour vous aider..</p>

  <div class="row">

    <!--Grid column-->
    <div class="col-md-9 mb-md-0 mb-5">
      <form id="contact-form" name="contact-form" >

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="name" name="name" class="form-control" required>
              <label for="name" class="">Your name</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="email" name="email" class="form-control" required>
              <label for="email" class="">Your email</label>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input type="text" id="subject" name="subject" class="form-control" required>
              <label for="subject" class="">Subject</label>
            </div>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12">

            <div class="md-form">
              <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
              <label for="message">Your message</label>
            </div>

          </div>
        </div>
        <!--Grid row-->

      </form>

      <div class="text-center text-md-left">
        <a class="btn btn-primary" >Send</a>
      </div>
      <div class="status"></div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
        <li><i class="fa fa-map-marker-alt fa-2x"></i>
          <p>7 Rue de l'Abbè Risse, 57000 Metz</p>
        </li>

        <li><i class="fa fa-phone mt-4 fa-2x"></i>
          <p>+ 33 234 567 89</p>
        </li>

        <li><i class="fa fa-envelope mt-4 fa-2x"></i>
          <p>contact@yoshida-club.com</p>
        </li>
      </ul>
    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->
<div id="map-container-google-2" class="z-depth-1-half map-container w-75" style="height: 500px">
  <!--<iframe src="https://goo.gl/maps/LRpaU32PgqFQL7ZC9" frameborder="0"
          style="border:0" allowfullscreen></iframe>-->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2611.283948888059!2d6.177527915831118!3d49.11924219025814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794dea77c382e87%3A0x438cb302996464e3!2s7%20Rue%20de%20l&#39;Abb%C3%A9%20Risse%2C%2057000%20Metz%2C%20Frankreich!5e0!3m2!1sde!2sde!4v1673293300888!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
