<h2>Quelques videos pour commencer</h2>


    <div class="col ">
      <p><strong>comment attaquer</strong></p>
      <div class="embed-responsive embed-responsive-16by9">
       <!-- <iframe class="embed-responsive-item" src="../../assets/videos/noeud.mp4" allowfullscreen></iframe>-->
        <img src="../../assets/activites/activite1.png" alt="activite">
      </div>
    </div>
    <div class="col">
      <p><strong>cours elementaire de karate</strong></p>
      <div class="embed-responsive embed-responsive-16by9">

        <!--<iframe class="embed-responsive-item" src="../../assets/videos/karateprecours.mp4" allowfullscreen></iframe>-->
        <img src="../../assets/activites/activite2.png" alt="activite">
      </div>
    </div>
  <div class="col ">
    <div class="embed-responsive embed-responsive-16by9">
      <p><strong>le karaté des enfants</strong></p>
      <!--<iframe class="embed-responsive-item" src="../../assets/videos/attacheceinture.mp4" allowfullscreen></iframe>-->
      <img src="../../assets/activites/activite3.png" alt="activite">
    </div>
  </div>




