<h1>Partenaires</h1>
<p>Le Karaté Club de Metz remercie pour leur confiance, leur soutien et leur crédit les organismes suivants :</p>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../assets/partenaire/image1.png"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="https://sites.ffkarate.fr/grandest/">Ligue Régionale Grand Est de Karaté et Disciplines Associées</a></h5>

      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../assets/partenaire/image2.png"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.google.de/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiHi-fmybn8AhWbVPEDHR-UAtIQFnoECAkQAQ&url=https%3A%2F%2Fwww.ffkarate.fr%2F&usg=AOvVaw383u23NWTa5ZzgqymC4960">La federation francaise de Karaté</a></h5>

      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img width="100px" height="100px"
        src="../../assets/partenaire/image3.png"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="https://metz.fr/">La ville de Metz</a></h5>

      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../assets/partenaire/image4.png"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.arenes-de-metz.com/">Les Arènes de Metz</a></h5>

      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../assets/partenaire/image5.jpg"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.likhom.com/index.html">Le moulin de Landovilliers</a></h5>

      </div>
    </div>
  </div>
</div>

