<div class="container text-center">
  <h1>Bienvenue sur le site karate Yosida de Metz</h1>
    <img [src]="images[0]">

    <h2 class="text-center">Le karate-do est une philosophie, une attitude devant et un regard sur la vie et le monde… Gichin Funakoshi</h2>
    <p class="text-center">Nous sommes un club de karaté Shotokan pour tous les publics et tous les âges. Nous portons une attention
    particulière sur la qualité de la pédagogie et la transmission de valeurs.
    Le KCM aide ses élèves à progresser sur le plan personnel et à se dépasser physiquement.
      Nous vous proposons des cours de Karaté Adulte, de Baby Karaté (de 5 à 7 ans),
    de Karaté Enfant (à partir de 7 ans), de Karaté Défense.
    </p>
</div>

